absl-py==2.1.0
colorama==0.4.6
decorator==5.1.1
imageio==2.36.1
imageio-ffmpeg==0.5.1
jax==0.4.35
jaxlib==0.4.35
ml_dtypes==0.5.0
moviepy==2.1.1
numpy==1.26.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
pillow==10.4.0
proglog==0.1.10
PyAudio==0.2.14
pygame==2.6.1
python-dotenv==1.0.1
sounddevice==0.5.1
tqdm==4.67.1
Wave==0.0.2
